aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.4.5.2
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.9
jdcal==1.4.1
multidict==4.7.6
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
schedule==0.6.0
six==1.15.0
slack-webhook==1.0.3
slackclient==2.7.1
tabulate==0.8.7
tzlocal==2.1
urllib3==1.25.9
websocket-client==0.57.0
xlrd==1.2.0
yarl==1.4.2
